**/*.o
**/*.d
**/kernel.asm
**/kernel.dis
**/kernel.elf
**.dis
debug.sh
qemu.log
ls2k_debug.sh
ls2k_release.sh
run.sh
la_run.sh
rv_run.sh
virt_la_debug.sh
build/**
.vscode/
.vscode/*
*.bin
*.dis
copy_kernel_to_ext4.sh
oscomp/*
glibc
testsuits
.gdb_cmd.txt
user/build/
**/*.img
kernel-rv
kernel-la
tmp/**
